<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>New Message</title>
	</head>
	<body>
		<h1>Write a new chat..</h1>
		<form method="POST" action="/chats">
			<input placeholder="Who are you" name="from" /><br><br>
			<textarea name="msg" placeholder="Write your message here.." cols="30" rows="10"></textarea><br><br>
			<input placeholder="Add receiver" name="to" /><br><br>
			<button>Create Chat</button>
		</form>
	</body>
</html>
