body {
	margin-left: 20px;
}

.chat {
	background-color: aliceblue;
	padding: 20px;
	border-radius: 16px;
	width: 200px;
	height: 200px;
}

.msg {
	background-color: dodgerblue;
	color: white;
	padding: 5px 15px;
	border-radius: 16px;
}

.new-btn {
	font-size: 1.6rem;
}

.edit-btn {
	border-radius: 16px;
	padding: 5px 15px;
	color: black;
}

.btn-container {
	display: flex;
	justify-content: space-evenly;
}
